{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Astrid Chaerida</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script> 
    <script src="{% static 'acit.js' %}"></script>
</head>
<body style="text-align:center; background-color: rgb(235, 231, 231); ">
    <h1 style="margin-top: 2%;" class="text-center">Temukan Buku Favoritmu!</h1>
    
    <input class="form-control col-sm-4 mx-auto" id="search"  type="text" placeholder="Search Your Favorite Book">
    <br>
    <button style="background-color: black;color: white;" class="btn btn-lg" id="button"  > Search</button>
    <br>
    <br>
    <div id="result">
        <div class="result align-l mx-5">
            <div id="res-header" class="flex-left mb-4">
                <div class="vr mr-3"></div>
                <div class="text-container">
                    <h1 class="text-24 hasil">Hasil Pencarian</h1>
                    <p class="text-12">Berikut hasil pencarian berdasarkan kata kunci kamu.</p>
                </div>
            </div>
            <div class="status-container none">
                <table class="table table-bordered">
                    <thead>
                        <tr style="background-color: beige; ">
                            <th scope="col">Judul</th>
                            <th scope="col">Penulis</th>
                            <th scope="col">Halaman</th>
                            <th scope="col">Terbitan</th>
                            <th scope="col">Kategori</th>
                            <th scope="col">Sampul</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: rgb(255, 255, 255);">
                        
                    </tbody>
                </table>
    
        
    </div>
    

</body>
</html>